<nav class="navbar navbar-default" ng-controller="NavCtrl">
  <div class="container-fluid">
      <div class="navbar-header">

        <!-- this is when the site is collapsed to a mobile view -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <!-- this is when the site is collapsed to a mobile view -->

      <a class="navbar-brand" href="#">Todo App</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right" ng-repeat="thingy in navItems">
          <li><a href="{{thingy.url}}">{{thingy.name}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ng-click="login()">Login</a></li>
          <li><a href="#" ng-click="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
